.body {
    color: black;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.page-1 {
    background-image: url('img/bg.jpg');
}
.wrapper > header {
    display: flex;
    justify-content: space-between;
}
.menu {
    color: white;
    list-style-type: none;
}
.menu > li {
    display: inline-block;
}
.menu a {
    text-decoration: none;
}